{% extends "Navbar.html" %}
{% block content %}
<!doctype html>
<html lang="en">
  <head>

    <style>
      #temperatureStatus,
      #humidityStatus {
        font-weight: bold;
      }

      .fire {
        color: red;
      }

      .normal {
        color: green;
      }

      .fire-button {
        background-color: red;
        color: white;
        border: none;
        padding: 10px 20px;
        border-radius: 5px;
        cursor: pointer;
      }
    
      .fire-status {
        color: red;
        font-weight: bold;
      }

    </style>



    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://unicons.iconscout.com/release/v4.0.0/css/line.css">
  <script src="https://code.iconify.design/iconify-icon/1.0.7/iconify-icon.min.js"></script>
  <link rel="stylesheet" href="/static/css/styles.css">
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
    crossorigin="anonymous"></script>
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@fortawesome/fontawesome-free@6.2.1/css/fontawesome.min.css"
    integrity="sha384-QYIZto+st3yW+o8+5OHfT6S482Zsvz2WfOzpFSXMF9zqeLcFV0/wlZpMtyFcZALm" crossorigin="anonymous">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" />
  <script src="https://cdn.jsdelivr.net/npm/flatpickr@4.6.9/dist/flatpickr.min.js"></script>
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/flatpickr@4.6.9/dist/flatpickr.min.css">



    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
    <link rel="stylesheet" href="/static/css/style.css">
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/flatpickr@4.6.9/dist/flatpickr.min.js"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/flatpickr@4.6.9/dist/flatpickr.min.css">
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    <script>
        flatpickr("#dob-input", {
            dateFormat: "Y-m-d", // Adjust the format as per your requirement
        });
       
        function toggleForm() {

            var formContainer = document.getElementById("formContainer");
            var button = document.querySelector("button");

            if (formContainer.style.display === "none") {
            formContainer.style.display = "block";
            button.innerText = "Close Form";
            } else {
            formContainer.style.display = "none";
            button.innerText = "Open Form";
            }
        }

        function submitForm() {
        removeTable();
        }

        function removeTable() {
        var table = document.getElementById("patientTable");
        table.style.display = "none";
        }

        function previewImage(event) {
            var reader = new FileReader();
            var imagePreview = document.getElementById("imagePreview");
            var image = imagePreview.querySelector("img");

            reader.onload = function () {
            image.src = reader.result;
            };

            reader.readAsDataURL(event.target.files[0]);
        }


        function updateMap() {
            var selectElement = document.getElementById("locationSelect");
            var iframeElement = document.getElementById("mapIframe");
            var selectedOption = selectElement.options[selectElement.selectedIndex].value;

            // Update iframe src based on the selected option
            if(selectedOption === "option1"){
              iframeElement.src = "https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3835014.6514888075!2d81.79537005696577!3d20.170249755038604!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3a226aece9af3bfd%3A0x133625caa9cea81f!2sOdisha!5e0!3m2!1sen!2sin!4v1702985534510!5m2!1sen!2sin";
            }
            else if (selectedOption === "option2") {
                iframeElement.src = "https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d59334.74740906257!2d85.5610928523269!3d21.647446650862545!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3a1f0282788c88bb%3A0xcac8ecd818b3fa4d!2sKeonjhar%2C%20Odisha!5e0!3m2!1sen!2sin!4v1702986166869!5m2!1sen!2sin";
            } else if (selectedOption === "option3") {
              iframeElement.src = "https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d479331.5625660451!2d86.06561809624264!3d20.184973774878625!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3a1bcd3e07a1be23%3A0xedf04bd8503415c0!2sJagatsinghpur%2C%20Odisha!5e0!3m2!1sen!2sin!4v1702986253194!5m2!1sen!2sin";
            }
           else if (selectedOption === "option3") {
              iframeElement.src = "https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d1905951.2354846525!2d82.45669844450642!3d21.090188656702434!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3a18a5535b18359d%3A0x1b2ab7d9079949fc!2sAngul%2C%20Odisha!5e0!3m2!1sen!2sin!4v1702986326792!5m2!1sen!2sin";
            // Add more conditions as needed";
            }
        }

        function fetchDataAndUpdatePage() {
          fetch('/get_sensor_data')
              .then(response => response.json())
              .then(data => {
                  document.getElementById('temperature').textContent = data.temperature;
                  document.getElementById('humidity').textContent = data.humidity;
              })
              .catch(error=>console.error('Error fetching data:', error));
      }


      function updateStatus() {

        var fireButton = document.getElementById('fireButton');

        var temperatureElement = document.getElementById('temperature');
        var humidityElement = document.getElementById('humidity');
        var temperatureStatusElement = document.getElementById('temperatureStatus');
        var humidityStatusElement = document.getElementById('humidityStatus');

        var temperature = parseFloat(temperatureElement.textContent);
        var humidity = parseFloat(humidityElement.textContent);

        // Check temperature and update status
        if (temperature > 30) {
          temperatureStatusElement.textContent = 'Alert! Fire accident likely to occur';
          temperatureStatusElement.className = 'fire';
          fireButton.textContent = temperatureStatusElement.textContent;
          fireButton.style.display = 'block';
        } else {
          temperatureStatusElement.textContent = 'Everything is good';
          temperatureStatusElement.className = 'normal';
          fireButton.style.display = 'none';
        }

        // Check humidity and update status
        // (you can add similar logic for humidity if needed)

        // Example logic for humidity:
        
      }

      // Fetch data and update page every 5 seconds
      setInterval(function() {
        fetchDataAndUpdatePage();
        updateStatus();
      }, 5000);
            
        </script>
    <title>Form</title>
  </head>
  <body>
   <!-- <div class="container-fluid bg-dark text-light py-3">
       <header class="text-center">
           <h1 class="display-6">Welcome to our page</h1>
       </header>
   </div> -->

   <br>
   <br>
   <div class="container my-2 w-50 text p-2">
    <center>
    <select class="row g-3 p-3" id="locationSelect" onchange="updateMap()">
      <option value="option1">Companies</option>
      <option value="option2">Arrow minerals & metals private limited - Keonjhar district</option>
      <option value="option3">Petrochemical Complex in Paradeep - Jagatsinghpur district </option>
      <option value="option4">NTPC Talcher Super Thermal Power Station - Angul district </option>
      <option value="option5">Odisha Power Generation Corporation (OPGC) - Banharpalli district</option>
      <option value="option6">S.S chemical private limited - Bhubaneswar district</option>
      <option value="option7">Local News and Business Magazines - Sambad district</option>
      <!-- Add more options as needed -->
    </select>
    <br>
    <iframe id="mapIframe" row g-3 p-3 width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
  </center>
  </div>
  <br>
  <center>
  <div class="container my-2 w-50 text p-2">
    <h4>Temperature: <span id="temperature"></span>°C <span id="temperatureStatus"></span></h4>
   <h4>Humidity: <span id="humidity"></span>% </h4>
   </div>
  </center> 

   <br>
   <br>
   <section class="container my-2 w-50 text p-2">
    <form class="row g-3 p-3" action="/upload" method="POST" enctype="multipart/form-data">

        <div class="col-md-6">
            <label for="validationDefault01" class="form-label">UTC</label>
            <input type="number" pattern="[A-Za-z]+" name="UTC" class="form-control" id="validationDefault01" placeholder="UTC" required>
          </div>
          <div class="col-md-6">
            <label for="validationDefault02" pattern="[A-Za-z]+" class="form-label">Temperature[C]</label>
            <input type="number" class="form-control" name="Temperature" id="validationDefault02" placeholder="Temperature" required>
          </div>

        <div class="col-md-6">
          <label for="inputEmail4" class="form-label" >Humidity[%]</label>
          <input type="number" class="form-control" name="Humidity" id="inputEmail4" placeholder="Humidity" required>
        </div>

        <div class="col-md-6">
          <label for="inputEmail4" class="form-label" >TVOC[ppb]</label>
          <input type="number" class="form-control" name="TVOC" placeholder="TVOC" id="mobile" required>
        </div>

        <div class="col-md-6">
          <label for="inputAddress" class="form-label">eCO2[ppm]</label>
          <input type="number" class="form-control" name="eCO2" placeholder="eCO2" id="mobile" required>
        </div>

        <div class="col-md-6">
          <label for="inputAddress" class="form-label">Raw H2</label>
          <input type="number" class="form-control" name="RawH2" placeholder="Raw H2" required>
        </div>

        <div class="col-md-6">
            <label for="inputAddress" class="form-label">Raw Ethanol</label>
            <input type="number" class="form-control" name="RawEthanol" placeholder="Raw Ethanol" required>
        </div>

        <div class="col-md-6">
            <label for="inputAddress" class="form-label">Pressure[hPa]</label>
            <input type="number" class="form-control" name="Pressure" placeholder="Pressure" required>
        </div>

        <div class="col-md-6">
            <label for="inputAddress" class="form-label">PM1.0</label>
            <input type="number" class="form-control" name="PM1" placeholder="PM1" required>
        </div>

        <div class="col-md-6">
            <label for="inputAddress" class="form-label">PM2.5</label>
            <input type="number" class="form-control" name="PM2" placeholder="PM2" required>
        </div>

        <div class="col-md-6">
            <label for="inputAddress" class="form-label">NC0.5</label>
            <input type="number" class="form-control" name="NC0" placeholder="NC0" required>
        </div>

        <div class="col-md-6">
            <label for="inputAddress" class="form-label">NC1.0</label>
            <input type="number" class="form-control" name="NC1" placeholder="NC1" required>
        </div>

        <div class="col-md-6">
            <label for="inputAddress" class="form-label">NC2.5</label>
            <input type="number" class="form-control" name="NC2" placeholder="NC2" required>
        </div>

        <div class="col-md-6">
            <label for="inputAddress" class="form-label">CNT</label>
            <input type="number" class="form-control" name="CNT" placeholder="CNT" required>
        </div>
        
        <button type="submit" class="btn btn-primary" >Submit</button>

        <div>
            <h3><label for="inputAddress" >Prediction: {{ prediction_message }}</label></div></h3>
        </div>

        </form>

      </div>
    <br>

      </form>

        <!--  -->
      <br>
      <br>  

      <form class="row g-3 p-3" action="/upload_image" method="POST" enctype="multipart/form-data">
        <center>
        <input type="file" class="form-control-file" id="fireImg" name="image" accept="image/*" onchange="previewImage(event)" required>
        <button type="submit" class="btn btn-primary">Submit</button>
        </center>
      </form>
   </section>
   <br>
   <br>


   <div class="row">
    <footer>
      <ul>
        <!-- Add your contact and social media links here -->
        <li><a href="mailto:contact@example.com"><iconify-icon icon="fontisto:email"></iconify-icon></a></li>
        <li><a href="tel:+123456789"><iconify-icon icon="solar:phone-outline"></iconify-icon></a></li>
        <li><a href="https://www.facebook.com/example"><i class="uil uil-facebook"></i></a></li>
        <li><a href="https://www.twitter.com/example"><i class="uil uil-twitter-alt"></i></a></li>
      </ul>
      <p>&copy; 2023 Fire Prevention Website. All rights reserved.</p>
    </footer>

    <!-- Add your JavaScript file link here -->
    <script src="../static/script.js"></script>

  </div>

   {% endblock %}

  </body>
</html>