<!DOCTYPE html>
<html>
<head>
    <title>Sensor Values Form</title>
</head>
<body>
    <h2>Sensor Values Form</h2>
    <form action="/process_sensor_values/" method="post">
        <label for="sensor1">Sensor 1:</label>
        <input type="number" name="sensor1" id="sensor1" required>
        <br>

        <label for="sensor2">Sensor 2:</label>
        <input type="number" name="sensor2" id="sensor2" required>
        <br>

        <label for="sensor3">Sensor 3:</label>
        <input type="number" name="sensor3" id="sensor3" required>
        <br>

        <input type="submit" value="Submit">
    </form>
</body>
</html>
